<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {{! Document Settings }}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        {{! Page Meta }}
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}" />

        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {{! Styles'n'Scripts }}
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">

        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}

        <script src="/assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body class="{{body_class}}">
            <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{@blog.url}}">{{@blog.title}}</a>
        </div>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="http://wiredradio.co.uk/about-us/">About Us</a></li>
                <li><a href="http://wiredradio.co.uk/wired-spring-schedule-released/">Schedule</a></li>
                <li><a href="http://wiredradio.co.uk/contact-us/">Get Involved</a></li>
                <li><a href="http://vimeo.com/user23635235">Wired TV</a></li>
            </ul>
        </li>
        <div class="navbar-body">
            <ul class="nav navbar-nav navbar-right">
                <li id="loading"><a><span>Loading audio stream...</span></a></li>
                <li><form class="navbar-form"><button type="button" onclick="togglePlayback();" class="btn btn-default" id="playPause"><i class="fa fa-pause"></i></button></form></li>
            </ul>
        </div>
        </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="banner">
        <div class="container">
            <h1 class="text-center">Wired Radio<br><span class="goldsmiths">Goldsmiths</span></h1>
        </div>
    </div>

    <div class="container">

        {{! Everything else gets inserted here }}
        {{{body}}}

        <hr>

        <footer>
            <p class="text-muted">Design &copy; Hugh Rawlinson 2013 | Powered by <a href="https://ghost.org">Ghost</a> and <a href="http://z.smornet.org">Smornet.org</a></p>
        </footer>

    </div> <!-- /container --> 
    <script src="/assets/js/vendor/soundmanager2-jsmin.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script>
        !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
        arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
        d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
        insertBefore(d,q)}(window,document,'script','_gs');

        _gs('GSN-302656-I');
    </script>

        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}
    </body>
</html>
