<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {{! Document Settings }}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        {{! Page Meta }}
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}" />

        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {{! Styles'n'Scripts }}
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">

        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}

        <script src="/assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body class="{{body_class}}">
            <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Wired Radio</a>
        </div>
        <div class="navbar-body">
            <ul class="nav navbar-nav navbar-right">
                <li id="loading"><a><span>Loading audio stream...</span></a></li>
                <li><form class="navbar-form"><button type="button" onclick="togglePlayback();" class="btn btn-default" id="playPause"><i class="fa fa-pause"></i></button></form></li>
            </ul>
        </div>
        </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="banner">
        <div class="container">
            <audio id="radiostream" autoplay="autoplay" preload="auto">
                <source src="http://owl.gold.ac.uk:8000/wired">
                <source src="http://gustavo.smornet.org:8000/wired">
                <source src="http://z.smornet.org:8000/wired">
                <source src="http://z.smornet.org:8000/hugh">
                Please use Chrome, Safari, or Internet Explorer. Our technicians are working on making audio cross-browser compatible.
            </audio>

            <h1 class="text-center">Wired Radio<br><span class="goldsmiths">Goldsmiths</span></h1>
        </div>
    </div>

    <div class="container">

        {{! Everything else gets inserted here }}
        {{{body}}}

        <hr>

        <footer>
            <p class="text-muted">Design &copy; Hugh Rawlinson 2013</p>
        </footer>

    </div> <!-- /container -->  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="/assets/js/vendor/bootstrap.min.js"></script>

        <script src="/assets/js/main.js"></script>

        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}
    </body>
</html>
