{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content" role="main">
    
    <div class="row">
            <div class="col-sm-4 text-center">
                <img height="250px" width="250px" src="/assets/img/swimsuitissue.jpeg" alt="" class="img-circle">
                <h2>Swimsuit Issue</h2>
                <p>Straight outta wired radio Swimsuit Issue bring you up to date with all new up and coming bands,djs and musicians. Music on this show will vary from N.W.A to erm Miley Cyrus? maybe///\\\ EVERY MONDAY 6-7 JAH BLESS </p>
            </div>
            <div class="col-sm-4 text-center">
                <img height="250px" width="250px" src="/assets/img/funkitup.jpg" alt="" class="img-circle">
                <h2>Funk It Up</h2>
                <p>On wiredradio.co.uk mondays midday-1pm uk/7-8am u.s east coast 7-8am start October 2013 Check our <a href="http://www.mixcloud.com/Funk_It_Up/">archive of shows</a></p>
            </div>
            <div class="col-sm-4 text-center">
                <img height="250px" width="250px" src="/assets/img/guiltypleasures.jpg" alt="" class="img-circle">
                <h2>Guilty Pleasures</h2>
                <p>The Guilty Pleasures show airs every Wednesday online at www.wiredradio.co.uk and streams across the world, meaning you can listen wherever you are.</p>
            </div>
        </div>

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <header class="post-header">
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{#if tags}}on {{tags}}{{/if}}</span>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>