{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content" role="main">
    
    <div class="row">
            <div class="col-sm-4 text-center">
                <img height="250px" width="250px" src="/assets/img/logo.jpg" alt="" class="img-circle">
                <h2>WIRED RADIO</h2>
                <p>Wired Radio is a student run radio station at Goldsmiths, University Of London. With over 60 weekly shows, from punk politics to all vinyl reggae, Wired is a platform for students to showcase their interests online. <a href="https://www.facebook.com/WIREDRADIOGOLDSMITHS">Wired Radio on Facebook.</a></p>
            </div>
            <div class="col-sm-4 text-center">
                <img height="250px" width="250px" src="/assets/img/mixcloud.png" alt="" class="img-circle">
                <h2>Mixcloud</h2>
                <p>It's the 21st century so you catch up on all our shows, live events and talks whenever you want on our Mixcloud. <a href="http://www.mixcloud.com/wiredradiogoldsmiths/">Wired Radio on Mixcloud.</a></p>
            </div>
            <div class="col-sm-4 text-center">
                <img height="250px" width="250px" src="/assets/img/wisdomTeeth.jpg" alt="" class="img-circle">
                <h2>wisdom teeth</h2>
                <p>Wisdom Teeth is our show of the week. Host, Will Bond, shares his thoughts on Internet Comedy, muses over your questions and plays some tunes. <a href="http://www.mixcloud.com/wisdomteeth/wisdom-teeth-4-internet-comedy/">Listen here.</a> </p>
            </div>
        </div>

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <header class="post-header">
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{#if tags}}on {{tags}}{{/if}}</span>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>