{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content" role="main">
    
    <div class="row">
            <div class="col-sm-4 text-center">
                <img height="250px" width="250px" src="/assets/img/beestings.jpg" alt="" class="img-circle">
                <h2>Beestings</h2>
                <p>A “Live Lounge” style show that takes place every Tuesday morning from 10AM until 11 and showcases the raw musical talent of students here at Goldsmiths, University of London. After hearing the musicians’ perform live on air, we find out a bit more about them personally and what lies behind their original content.</br><a href="http://www.soundcloud.com/goldcase">Listen to their archive of shows here</a>.</p>
            </div>
            <div class="col-sm-4 text-center">
                <img height="250px" width="250px" src="/assets/img/goldcase.jpg" alt="" class="img-circle">
                <h2>Goldcase</h2>
                <p>An hour’s worth of procrastination every Thursday from 1PM until 2 with your affable and eccentric host Roo. No topic is safe from scrutiny, nothing is too weird to escape discussion on this show – anything goes. Imagine Dr having a radio show basically. <a href="http://www.mixcloud.com/RooBox">Listen to their archive of shows here</a>.</p>
            </div>
            <div class="col-sm-4 text-center">
                <img height="250px" width="250px" src="/assets/img/brainstorm.png" alt="" class="img-circle">
                <h2>Brainstorm</h2>
                <p>A Monday afternoon musical phenomenon playing the very best of Noise and Glitch and experimental  electronic  music from the hours of 4PM until 5. Don’t expect any one show to be similar musically, but expect to be equally entertained during each wild ride the Bee will take you on. <a href="http://www.mixcloud.com/beestings/">Listen to their archive of shows here</a>.</p>
            </div>
        </div>

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <header class="post-header">
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{#if tags}}on {{tags}}{{/if}}</span>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>